footer {
    background-color: #C4C4C4;
    margin-top: 3em;
    justify-content: space-between;
    padding: 2em;
}

.adresse {
    margin: 1em 0px 2em 0px;
}

footer ul li a {
    font-size: 1em  !important;
}