*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header .brand img {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

 nav {
    justify-content: space-between;
}

 ul {
    list-style: none;
    align-items: center;
}

 ul li {
    margin: 0px 1.5em;
}

 ul li a {
    text-decoration: none;
    color : black;
}

ul li a:focus{
    outline: none;
}

.menu li a , .login-signup li a{
    margin: 0px 2em;
    font-size: 1.5em;
}

.page-selected {
    border-bottom: 5px solid #0072FF ;
    /* text-decoration: underline 5px solid #0072FF; */
}