*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header .brand img {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

nav {
    justify-content: space-between;
}

 ul {
    list-style: none;
    align-items: center;
}

 ul li {
    margin: 0px 1.5em;
}


ul li a:focus{
    outline: none;
}

nav ul li a{
    margin: 0px 1em;
    font-size: 1.5em;
    text-decoration: none;
    color : black;
    text-align: center;
}

.page-selected {
    border-bottom: 5px solid #0072FF ;
    /* text-decoration: underline 5px solid #0072FF; */
}


#hamburger-icon {
    font-size:3em;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;    
}


@media (max-width:1250px) and (min-width:951px){
    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width:950px){
    .menu {
        display: none;
    }
    header nav {
        flex-wrap: wrap;
    }
    .show-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    ul li {
        margin-bottom: 1em;
    }
}


@media (min-width:951px){
    #hamburger-icon {
        display: none;
    }
}
